//Common

$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

html {
  font: size 62.5%;
}

body {
  font-family: "Junge", serif;
  color: #282828;
}

li {
  list-style: none;
}

p {
  line-height: 1.7;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-family: "PT Serif", serif;
  color: #4a403a;
  text-align: center;
}

h2 {
  margin: 16px;
}

li {
  line-height: 1.4;
}
//header

header {
  margin: 0 auto;
  padding: 16px;

  .header_desktop {
    display: none;
  }

  .header_phone {
    text-align: right;
  }
  .material-symbols-outlined {
    font-size: 32px;
  }

  .header_phone:hover {
    cursor: pointer;
  }

  .overlay {
    position: fixed; //固定表示
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s;
    background: rgba(255, 255, 255, 0.95);
    z-index: 3;
  }

  //showしたらoverlayがつけ外しされる
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .unshow {
    opacity: 0;
  }

  .overlay #close {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 32px;
    cursor: pointer;
  }

  .overlay #close:hover {
    color: #333;
  }

  .overlay li {
    padding-top: 12px;
    font-size: 1.8rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.3s, transform 0.3s;
  }

  .overlay li:hover {
    color: #333;
  }
  .overlay.show li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .overlay.show li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .overlay.show li:nth-child(3) {
    transition-delay: 0.4s;
  }
  .overlay.show li:nth-child(4) {
    transition-delay: 0.5s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  .overlay ul {
    margin-top: 10%;
  }

  @include tablet {
    .header_desktop {
      width: 86%;
      font-size: 1.4rem;
      display: block;
      margin: 12px auto;

      h1 {
        padding-top: 12px;
      }

      nav {
        display: flex;
        justify-content: space-between;
      }

      ul {
        display: flex;
      }

      li {
        margin-right: 16px;
        cursor: pointer;
      }

      li:hover {
        opacity: 0.5;
      }

      .title {
        align-items: center;
      }
    }
  }

  @include desktop {
    .header_desktop {
      font-size: 1.4rem;
      margin: 24px auto;
    }
  }
}

@media (min-width: 2100px) {
  .shapedividers_com-5066::before {
    background-size: 126% calc(2vw + 400px);
  }
}

@media (min-width: 2100px) {
  .shapedividers_com-8833::before {
    background-size: 100% calc(2vw + 90px);
  }
}

//main

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list {
  margin-top: 24px;
}

img {
  display: block;
  margin: 36px auto 0;
  width: 200px;
  height: 220px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
}

.list h2 {
  margin: 24px;
}

.desc {
  width: 80%;
  margin: 0 auto;
}
.list li {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.price {
  margin-top: 24px;
  font-size: 1.8rem;
}

.current_price {
  margin-top: 24px;
  color: red;
  font-size: 1.8rem;
  position: relative;
}
.current_price::before {
  content: "$12.9";
  font-size: 0.9rem;
  text-decoration: line-through;
  color: #333;
  position: absolute;
  left: 8.6em;
  top: 30%;
}

.cart {
  text-align: center;
  display: block;
  margin: 16px auto;
  padding: 16px 24px;
  background-color: #be6546;
  color: #fff;
  border-radius: 10px;
}

.cart:hover {
  opacity: 0.5;
  transition: 0.5s;
}

@include tablet() {
  .wrapper {
    display: flex;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  img {
    width: 220px;
    height: 240px;
  }
}
@include desktop() {
  img {
    width: 250px;
    height: 270px;
  }
}
//footer
footer {
  text-align: center;
  padding: 80px;
  font-size: 10px;
}
