html {
  font: size 62.5%;
}

body {
  font-family: "Junge", serif;
  color: #282828;
}

li {
  list-style: none;
}

p {
  line-height: 1.7;
}

.top {
  height: 100vh;
  width: 100%;
}

header {
  margin: 0 auto;
  padding: 16px;
}
header .header_desktop {
  display: none;
}
@media (min-width: 768px) {
  header .header_desktop {
    width: 86%;
    font-size: 1.4rem;
    display: block;
    margin: 12px auto;
  }
  header .header_desktop h1 {
    padding-top: 12px;
  }
  header .header_desktop nav {
    display: flex;
    justify-content: space-between;
  }
  header .header_desktop ul {
    display: flex;
  }
  header .header_desktop li {
    margin-right: 16px;
    cursor: pointer;
  }
  header .header_desktop li:hover {
    opacity: 0.5;
  }
}
@media (min-width: 1024px) {
  header .header_desktop {
    font-size: 1.4rem;
    margin: 24px auto;
  }
}

.hero {
  width: 100%;
  align-items: center;
}
.hero h1 {
  font-size: 3.2em;
  text-align: center;
  margin-top: 80px;
}
.hero .hero_img {
  text-align: center;
}
.hero img {
  margin-top: 100px;
  width: 70%;
  height: 70%;
}
@media (min-width: 768px) {
  .hero h1 {
    margin-top: 0;
  }
  .hero img {
    margin-top: 0;
    width: 40%;
    height: 40%;
  }
}

.feature {
  margin: 24px 0;
  background-color: #ffeddb;
}

.feature_container {
  width: 90%;
  margin: 0 auto;
}
.feature_container .desc {
  padding: 24px;
}
.feature_container .desc h2 {
  text-align: center;
  margin: 36px;
}
.feature_container .desc p {
  padding-top: 24px;
  font-size: 1rem;
}
.feature_container img {
  width: 100%;
  height: 20rem;
  border-radius: 20%;
  padding: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .feature_container {
    display: flex;
    align-items: center;
    width: 80%;
  }
  .feature_container .feature {
    padding: 30px;
  }
  .feature_container .desc {
    width: 50%;
    padding: 24px;
    justify-content: center;
    margin: 24px auto;
  }
  .feature_container .desc_img {
    width: 40%;
    height: 40%;
    margin: 24px auto;
    justify-content: center;
  }
  .feature_container .desc h2 {
    font-size: 2.4rem;
    margin-top: 0;
  }
  .feature_container .desc p {
    font-size: 1.2rem;
    padding: 0;
  }
  .feature_container img {
    padding: 12px;
  }
}

.testimonial {
  width: 90%;
  margin: 0 auto;
}
.testimonial h2 {
  text-align: center;
  margin: 36px;
}
.testimonial .tes_ppl {
  text-align: center;
}
.testimonial .test_card {
  margin: 24px auto;
  width: 75%;
  background-color: #e3b7a0;
  padding: 42px 24px;
  border-radius: 10%;
}
.testimonial p {
  font-size: 1rem;
}
.testimonial h3,
.testimonial h4 {
  margin-top: 8px;
}
.testimonial h4 {
  color: #fff;
}
.testimonial img {
  width: 25%;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .testimonial h2 {
    font-size: 2.4rem;
  }
  .testimonial .test_3ppl {
    display: flex;
  }
  .testimonial p {
    font-size: 1rem;
    text-align: left;
  }
  .testimonial h3 {
    font-size: 1.4rem;
  }
}

.sale {
  background-color: #deefff;
  padding: 0;
  margin: 0 auto;
}
.sale .summer_sale {
  justify-content: center;
  margin: 36px auto;
}
.sale .summer_sale h2 {
  padding-top: 16px;
  text-align: center;
}
.sale .summer_sale .more {
  display: block;
  justify-content: center;
  margin: 16px auto;
  background-color: #fff;
  padding: 16px 24px;
  border: 0.5px solid #282828;
}
.sale .summer_sale .more:hover {
  opacity: 0.5;
}
.sale img {
  display: block;
  padding: 0;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 768px) {
  .sale {
    margin-top: 24px;
    width: 100%;
    display: flex;
  }
  .sale_img {
    width: 50%;
    height: 100%;
  }
  .summer_sale {
    width: 50%;
    display: block;
    align-items: center;
    justify-content: center;
  }
}
footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  font-size: 12px;
}/*# sourceMappingURL=styles.css.map */