//Common

$tablet: 700px;
$desktop: 1024px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin center {
  width: 90%;
  margin: 0 auto;
}

html {
  font: size 62.5%;
}

body {
  // font-family: "Ibarra Real Nova", serif;
  font-family: "Junge", serif;
  color: #282828;
}

li {
  list-style: none;
}

p {
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-family: "PT Serif", serif;
  color: #4a403a;
}
//header

.top {
  height: 100vh;
  width: 100%;
}

main {
  position: relative;
}

header {
  margin: 24px auto;
  padding: 16px;

  // header phone
  .header_phone {
    text-align: right;
  }
  .material-symbols-outlined {
    font-size: 32px;
  }

  .header_phone:hover {
    cursor: pointer;
  }

  .overlay {
    position: fixed; //固定表示
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s;
    background: rgba(255, 255, 255, 0.95);
    z-index: 3;
  }

  //showしたらoverlayがつけ外しされる
  .overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .unshow {
    opacity: 0;
  }

  .overlay #close {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 32px;
    cursor: pointer;
  }

  .overlay #close:hover {
    color: #333;
  }

  .overlay li {
    padding-top: 12px;
    font-size: 1.8rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(16px);
    transition: opacity 0.3s, transform 0.3s;
  }

  .overlay li:hover {
    color: #333;
  }
  .overlay.show li:nth-child(1) {
    transition-delay: 0.2s;
  }
  .overlay.show li:nth-child(2) {
    transition-delay: 0.3s;
  }
  .overlay.show li:nth-child(3) {
    transition-delay: 0.4s;
  }
  .overlay.show li:nth-child(4) {
    transition-delay: 0.5s;
  }

  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  .overlay ul {
    margin-top: 10%;
  }

  // --------------------------------------------------------

  .header_desktop {
    display: none;
  }

  @include tablet {
    .header_phone {
      display: none;
    }
    .header_desktop {
      width: 86%;
      font-size: 1.4rem;
      display: block;
      margin: 12px auto;

      h1 {
        padding-top: 12px;
      }

      nav {
        display: flex;
        justify-content: space-between;
      }

      ul {
        display: flex;
      }

      li {
        margin-right: 16px;
        cursor: pointer;
      }

      li:hover {
        opacity: 0.5;
        transition: 0.5s;
      }
    }
  }

  @include desktop {
    .header_desktop {
      font-size: 1.4rem;
      margin: 0 auto;
    }
  }
}

//main

//hero
.hero {
  width: 100%;
  align-items: center;

  h1 {
    position: relative;
    z-index: 1;
    font-size: 3.2em;
    text-align: center;
    margin-top: 80px;
  }

  .hero_img {
    text-align: center;
    margin-top: 60px;
  }

  img {
    width: 80%;
    height: 80%;
    animation: img 17s linear infinite;
  }

  @keyframes img {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @include tablet {
    h1 {
      margin-top: 0;
    }

    .hero_img {
      margin-top: 0;
    }

    img {
      margin-top: 0;
      width: 60%;
      height: 60%;
    }
  }

  @include desktop {
    h1 {
      margin-top: 0;
    }

    .hero_img {
      margin-top: 0;
    }

    img {
      width: 40%;
      height: 40%;
    }
  }
}

//section

.feature {
  margin: 24px 0;
  // background-color: #ffeddb;
  background: linear-gradient(70deg, #ffeddb, #edcdbb);
  position: relative;
  z-index: 1;
  border-radius: 20% 10% 20% 10%;
}

.feature_container {
  @include center();

  margin: 36px auto;
  padding: 36px;

  .desc {
    padding: 24px;

    h2 {
      text-align: center;
      margin: 36px 0;
    }

    p {
      padding-top: 24px;
      font-size: 1rem;
    }
  }

  img {
    width: 100%;
    height: 20rem;
    border-radius: 20%;
    padding: 36px;
    object-fit: cover;
    vertical-align: bottom;
  }

  @include tablet {
    display: flex;
    align-items: center;
    width: 80%;

    .feature {
      padding: 30px;
    }

    .desc {
      width: 50%;
      padding: 24px;
      justify-content: center;
      margin: 24px auto;
    }

    .desc_img {
      width: 40%;
      height: 40%;
      margin: 24px auto;
      justify-content: center;
    }

    .desc h2 {
      font-size: 2.4rem;
      margin-top: 0;
    }
    .desc p {
      font-size: 1.2rem;
      padding: 0;
    }

    img {
      padding: 12px;
    }
  }
}

//testimonial

.testimonial {
  @include center();

  p {
    line-height: 1.5;
  }
  h2 {
    text-align: center;
    margin: 42px;
  }

  .tes_ppl {
    text-align: center;
  }

  @keyframes animation_ppl {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateY(100%);
    }
  }

  .test_card {
    margin: 24px auto;
    width: 75%;
    background-color: #e3b7a0;
    padding: 42px 24px;
    border-radius: 10%;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.12),
      0 2px 3px 0 rgba(0, 0, 0, 0.22);
    transition: 0.3s;
  }

  .test_card:hover {
    // position: absolute;
    // top: 10%;
    box-shadow: 0 30px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
  }

  p {
    font-size: 0.8rem;
    display: block;
    padding: 16px;
  }

  h3,
  h4 {
    margin-top: 16px;
  }

  h4 {
    color: #fff;
  }

  img {
    width: 25%;
    border-radius: 50%;
  }

  @include tablet {
    h2 {
      font-size: 2.4rem;
    }

    .test_3ppl {
      display: flex;
    }

    p {
      font-size: 1rem;
      text-align: left;
    }

    h3 {
      font-size: 1.4rem;
    }
  }
}

//sale

.sale {
  background-color: #deefff;
  padding: 0;
  margin: 0 auto;

  .summer_sale {
    justify-content: center;
    margin: 36px auto;

    h2 {
      padding-top: 16px;
      text-align: center;
      position: relative;
    }

    .stripe:after {
      content: "";
      position: absolute;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      bottom: -10%;
      width: 30%;
      height: 7px;
      background: repeating-linear-gradient(
        -45deg,
        rgb(213, 235, 135),
        rgb(213, 235, 135) 2px,
        white 2px,
        white 4px
      );
    }

    .more {
      display: block;
      justify-content: center;
      margin: 16px auto;
      background-color: #fff;
      padding: 16px 24px;
      border: 0.5px solid #282828;
      border-radius: 10px;
    }

    .more:hover {
      opacity: 0.5;
      background-color: #282828;
      color: #fff;
      transition: 0.5s;
    }
  }
  img {
    display: block;
    padding: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

@include tablet {
  .sale {
    margin-top: 24px;
    width: 100%;
    display: flex;
  }

  .sale_img {
    width: 50%;
    height: 100%;
  }

  .summer_sale {
    padding-top: 12px;
    width: 50%;
    display: block;
    justify-content: center;

    h2 {
      font-size: 1.9em;
      padding-top: 24px;
      padding: 0.3em;
    }

    .stripe:after {
      bottom: 0;
    }
  }
}

//footer

footer {
  @include center();
  text-align: center;
  padding: 24px;
  font-size: 10px;
}
